{% extends 'base.html'%}

{% block contents%}
<div class="container">
  <div class="row my-row">
    <div class="col-md-6">
      <img src="{{hostel.image.url}}" alt="" width=100%>
    </div>

    <div class="col-md-6">
      <h1>{{hostel.location}}</h1>
      <h2>{{hostel.name}}</h2>
      <p>{{hostel.description}}</p>
      <div>
        <p>{{hostel.roomtype1}}</p>
        <p>{{hostel.roomtype1.price}}</p>
      </div>
      <div>
        <p>{{hostel.roomtype2}}</p>
        <p>{{hostel.roomtype2.price}}</p>
      </div>
      <div>
        <p>{{hostel.roomtype3}}</p>
        <p>{{hostel.roomtype3.price}}</p>
      </div>
      <div>
        <p>{{hostel.roomtype4}}</p>
        <p>{{hostel.roomtype4.price}}</p>
      </div>
     
    </div>
    

  </div>

</div>

{% endblock%}